*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
background: black;
}

.form-register {
width: 400px;
	/*Aqui esta el color del fondo del formulario*/
background-color: rgba(23,137,128,1.00);
padding: 30px;
margin: auto;
margin-top: 100px;
font-family: georgia;
border: 3px solid rgb(234, 190, 63);
border-radius: 10px;

}

.form-register h4 {
font-size: 22px;
margin-bottom: 20px;
}

.controls {
font-size: 15px;
margin-bottom: 10px;
}

h1{
	font-size: 22px;
margin-bottom: 20px;
text-align: center;
}

.controls {
	width: 100%;
	background: linear-gradient(to left, transparent, rgb(234, 190, 63));
	padding: 5px;
	border-radius: 30px;
	border: 1px solid rgb(234, 190, 63);
	font-family: georgia;
	font-size: 16px;
    outline: none;
}

.controls:hover {
    width: 100%;
    background: linear-gradient(to left, transparent, rgb(234, 190, 63));
    padding: 5px;
    border-radius: 30px;
    border: 1px solid rgb(234, 190, 63);
    font-family: georgia;
    font-size: 16px;
    outline: none;
}

.form-register p {
	height: 40px;
	text-align: center;
	font-size: 18px;
}

	.form-register a{
		color: black;
		text-decoration: none;

	}
	.form-register a:hover {
		color: skyblue;
		text-decoration: underline;
	}



     .bottons {
    	width: 100%;
    	background: rgb(234, 190, 63);
    	border-radius: 20px;
    	padding: 12px;
    	color: white;
    	margin: 16px 0;
    	font-size: 18px;
        text-decoration: none;
    	cursor: pointer;
        text-align: center;
    }

         .bottons:hover {
    	width: 100%;
    	background: rgb(234, 190, 63);
    	border-radius: 20px;
    	border: 2px solid skyblue;
    	padding: 12px;
    	color: black;
    	margin: 16px 0;
    	font-size: 14px;
         text-decoration: none;
    	cursor: pointer;
    	transition: 1s;
    }

        i{
        text-align: center;
        position: relative;
        bottom: 30px;
        }